*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Baloo Chettan 2', cursive;
    line-height: 1.5;
}
.title-text{
    font-size: 40px;
    text-align: center;
}
/*======Header======*/
.header{
    min-height: 100vh;
    background: linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,1)),url('./7.jpeg') left 0% / 100% 100% no-repeat ;
    margin-top: auto;
}

.me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    
}
.me p{
    font-size: 40px;
    color: red;
}
.me .myTitleName {
    
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color:white;
  font: bolder;
    color: black;
    font-size: 80px;
    border: white;
    text-align: center;
}
@media (max-width: 600px) {
    .me .myTitleName {
        font-size: 50px;
    }  
    .title-text{
        font-size: 40px;
        text-align: center;
    }
    .me p{
        font-size: 20px;
        color: red;
    }
}





#navbar {
    background-color: #333;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: white;
    color: black;
  }
  




.profile{
    background-color: black;
    padding: 40px;
}
.profile h1{
    font-size: 40px;
    text-align: center;
    color: skyblue;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.profile h2{
    font-size: 30px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.profile p,h3{
    font-size: 20px;
    text-align: left;
    color: white;
    
    margin-bottom: 10px;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width:400px;
    height:400px;
  }

/* Create three unequal columns that floats next to each other */

.column {
    float: right;
    padding: 10px;
    height: auto 
    
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
    .column.side  p{
        text-align: center;
    }
    .column.side  h2{
        text-align: center;
    }
    .column.side  h3{
        text-align: center;
    }
    .center {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        
        width:200px;
        height:200px;
      }
      .profile p{
          font-size: 10px;
      }
  }  


.skills-image{
    min-height: 80vh;
    background:url('./rr.jpg') left 0% / 80% 100% no-repeat;
}
.skills-text{
    min-height: 80vh;
    align-items: center;
    background: black;
    columns: white;
    padding: 50px 20px;
}
.skills-text-centre{
    width: 90%;
    margin: 0 auto;
}
.skills-text h1{
    font-size: 40px;
    color: skyblue;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.skills-text p{
    margin:20px 0;
    font-size: 20px;
    color: whitesmoke;
    line-height: 2;
}

.skills-text p::before{
    content: ' \220E';
    color: orangered;
}

@media screen and (min-width: 600px){
    .skills{
        display: flex;
    }
    .skills-text{
        flex: 0 0 30%;
    }
    .skills-image{
        flex: 0 0 70%;
        clip-path: polygon(0 0, 100% 0,50% 100%,0 100%);
    }
    .skills{
        background: black;
    }
}
@media screen and (max-width: 776px){
    .skills{
        display: flex;
    }
    .skills-image{
       content: none;
    }
    .skills-text{
        flex: 0 0 100%;
        text-align: center;
    }
}



.education-image{
    min-height: 80vh;
    background:url('./qq.jpeg') right 0% / 80% 100% no-repeat;
}
.education-text{
    min-height: 80vh;
    text-align: center ;
    align-items: center;
    background: black;
    columns: white;
    padding: 50px 20px;
}
.education-text-centre{
    width: 90%;
    margin: 0 auto;
}
.education-text h1{
    font-size: 40px;
    color: skyblue;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.education-text p{
    margin:20px 0;
    font-size: 20px;
    color: whitesmoke;
    line-height: 2;
}

.education-text p::before{
    content: ' \220E';
    color: orangered;
}

@media screen and (min-width: 600px){
    .education{
        display: flex;
    }
    .education-text{
        flex: 0 0 30%;
    }
    .education-image{
        flex: 0 0 70%;
        clip-path: polygon(0% 1%,100% 1%,100% 100%,50.00% 100.00%,0% 0%);
    }
    .education{
        background: black;
    }
}
@media screen and (max-width: 776px){
    .education{
        display: flex;
    }
    .education-image{
       content: none;
    }
    .education-text{
        flex: 0 0 100%;
        text-align: center;
    }
}






.project-image{
    min-height: 80vh;
    background:url('./kk.jpeg') right 0% / 80% 100% no-repeat;
}
.project-text{
    min-height: 80vh;
    text-align: center ;
    align-items: center;
    background: black;
    columns: white;
    padding: 50px 20px;
}
.project-text-centre{
    width: 90%;
    margin: 0 auto;
}
.project-text h1{
    font-size: 40px;
    color: skyblue;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.project-text p{
    margin:20px 0;
    font-size: 20px;
    color: whitesmoke;
    line-height: 2;
}

.project-text p::before{
    content: ' \220E';
    color: orangered;
}

@media screen and (min-width: 600px){
    .project{
        display: flex;
    }
    .project-text{
        flex: 0 0 30%;
    }
    .project-image{
        flex: 0 0 70%;
        clip-path: polygon(0% 1%,100% 1%,100% 100%,50.00% 100.00%,0% 0%);
    }
    .project{
        background: black;
    }
}
@media screen and (max-width: 776px){
    .project{
        display: flex;
    }
    .project-image{
       content: none;
    }
    .project-text{
        flex: 0 0 100%;
        text-align: center;
    }
}




#social-icons{
    height: 150px;
    background: black;
    text-align: center;
    padding: 50px 0 50px 0;
}
#social-icons a{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 40px;
    border-radius: 5px;
    transition: transform 2s ease, color 2s ease
}
#social-icons a:hover{
    transform: translateY(-20px);
}
.facebook{
    color:skyblue;
}
.twitter{
    color: #38a1f3;
}
.instagaram{
    color: #e13030;
}
.plus{
    color: #db4839;
}
@media screen and (max-width: 776px){
    #social-icons a{
        font-size: 30px;
    }
}
